</div>
</main>
<footer class="py-4 bg-dark text-white-50 fixed-bottom" >
    <div class="container-fluid">
        <div>
            <span>Made by <a href="www.pseudonym.org.uk">Pseudonym</span>
        </div>
    </div>
</footer>
</body>

</html>