<%- include('includes/header.ejs') %>

<span><i>Uri requested: <%= requestedUri %></i></span>
<textarea class="bs-callout bs-callout-warning errorInfo" readonly><%= error %></textarea>
        
<%- include('includes/footer.ejs') %>