<%- include('includes/header.ejs') %>

<form class="product-form" action="/admin/add-product" method="POST">
    <h1>Add Product</h1>
    <div class="form-control">
        <label for="nameInput">Name: </label>
        <input class="<%= invalidForm == 'emptyName' ? 'invalid' : '' %>" id="nameInput" type="text" name="name" />
    </div>
    <div class="form-control">
        <label for="descInput">Description: </label>
        <textarea class="<%= invalidForm == 'emptyDesc' ? 'invalid' : '' %>" id="descInput" name="description"></textarea>
    </div>
    <div class="form-control">
        <label for="priceInput">Price: </label>
        <input id="priceInput" type="number" name="price" value="1.00" />
    </div>
    <div class="form-control">
        <button type="submit">Add</button>
    </div>
</form>
        
<%- include('includes/footer.ejs') %>