.products {
    justify-content: space-around;
    align-items: stretch;
    display: inline-flex;
    flex-wrap: wrap;
}

.products .product {
    border: 0px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    float: left;
    background-color:coral;
    color: #FFFFFF;
    border: 1px coral;
    border-radius: 4px;
}

.product .description {
    overflow-y: scroll;
    max-height: 99px;
    min-height: 99px;
    border: 1px dashed coral;
    background-color: #FFFFFF;
    color: sandybrown;
    padding: 4px;
}

.product .price {
    float: right;
}


.product .link a {
    color: white;
    text-decoration: none;
}

.product .link a:hover,
.product .link a:active {
    text-decoration: underline;
}

.product:hover,
.product:active,
.product.active {
    box-shadow: 0 2px 8px coral;
}