body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: #f0ad4e;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #f0ad4e;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.cartLogo {
    background-image: url(/images/cart.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 32px;
    background-position-x: 2px;
    padding-left: 38px !important;
}

.cart .bs-callout-warning {
    border-top-color: #f0ad4e;
    border-bottom-color: #f0ad4e;
    border-right-color: #f0ad4e;
    background-color: white;
}

.cartPrice {
    float: right;
    padding: 10px;
    margin: 0;
    border-top-color: #f0ad4e;
    border-bottom-color: #f0ad4e;
    border-right-color: #f0ad4e;
    background-color: white;
}