<%- include('../includes/header.ejs') %>

<p class="lead">Please feel free to browse products here</p>
<hr class="my-4">
<p>To view all products, click below</p>
<a class="btn btn-warning btn-lg" href="/shop/products" role="button">Browse Products</a>

<%- include('../includes/footer.ejs') %>