<%- include('../includes/header.ejs') %>

<p class="lead">Order was not successful :(</p>
<hr class="my-4">
<p>Your payment method has not been charged. <small>Status: <%= status %></small></p>
<a class="btn btn-warning btn-lg" href="/shop/cart" role="button">Back to Cart</a>

<%- include('../includes/footer.ejs') %>