<%- include('../includes/header.ejs') %>

<p class="lead">Order successful! you're items are on their way.</p>
<hr class="my-4">
<p>You chose the <%= shippingName %> service and your items will be with you within <%= shippingWindow %>.</p>
<a class="btn btn-warning btn-lg" href="/shop/products" role="button">Back to Shop</a>

<%- include('../includes/footer.ejs') %>