.products {
    justify-content: space-around;
    align-items: stretch;
    display: inline-flex;
    flex-wrap: wrap;
}

.products .product {
    border: 1px solid #FF9800;
    width: 300px;
    padding: 10px;
    margin: 10px;
    float: left;
    background-color: #FFE4C4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.product .description {
    overflow-y: scroll;
    max-height: 99px;
    min-height: 99px;
    border: 1px dashed rgb(255, 152, 0);
    background-color: #FFFFFF;
}

.product:hover,
.product:active,
.product.active {
    box-shadow: 0 2px 8px rgba(255, 152, 0);
}