<%- include('includes/header.ejs') %>

<form class="product-form" action="/admin/add-product" method="POST">
    <h1>Add Product</h1>
    <div class="form-control">
        <label for="nameInput">Name: </label>
        <input id="nameInput" type="text" name="name" />
    </div>
    <div class="form-control">
        <label for="descInput">Description: </label>
        <input id="descInput" type="text" name="description" />
    </div>
    <div class="form-control">
        <label for="priceInput">Price: </label>
        <input id="priceInput" type="price" name="price" value="1" />
    </div>
    <div class="form-control">
        <button type="submit">Add</button>
    </div>
</form>
        
<%- include('includes/footer.ejs') %>